@charset "UTF-8";
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url(https://static.wadiz.kr/static/web/media/Pretendard-Regular.subset.0e570172.woff2)
      format('woff2'),
    url(https://static.wadiz.kr/static/web/media/Pretendard-Regular.subset.37eb0832.woff)
      format('woff'),
    url(https://static.wadiz.kr/static/web/media/Pretendard-Regular.subset.6e2a808d.otf)
      format('opentype');
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url(https://static.wadiz.kr/static/web/media/Pretendard-Medium.subset.201c9877.woff2)
      format('woff2'),
    url(https://static.wadiz.kr/static/web/media/Pretendard-Medium.subset.99418246.woff)
      format('woff'),
    url(https://static.wadiz.kr/static/web/media/Pretendard-Medium.subset.2277be81.otf)
      format('opentype');
  font-display: swap;
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url(https://static.wadiz.kr/static/web/media/Pretendard-Bold.subset.0cc59186.woff2)
      format('woff2'),
    url(https://static.wadiz.kr/static/web/media/Pretendard-Bold.subset.9c1a831b.woff)
      format('woff'),
    url(https://static.wadiz.kr/static/web/media/Pretendard-Bold.subset.c8e804a9.otf)
      format('opentype');
  font-display: swap;
}

*,:after,:before {
  box-sizing: border-box;
}

body,button,html,input,textarea {
  font-family: pretendard, Apple SD Gothic Neo, Segoe UI, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, -apple-system, blinkmacsystemfont, sans-serif;
}

a,abbr,acronym,address,applet,article,
aside,audio,b,big,blockquote,body,
button,canvas,caption,center,cite,
code,dd,del,details,dfn,div,dl,dt,
em,embed,fieldset,figcaption,figure,
footer,form,h1,h2,h3,h4,h5,h6,
header,hgroup,html,i,iframe,img,
input,ins,kbd,label,legend,li,
mark,menu,nav,object,ol,output,
p,pre,q,ruby,s,samp,section,
select,small,span,strike,strong,
sub,summary,sup,table,tbody,td,
textarea,tfoot,th,thead,time,tr,
tt,u,ul,var,video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}
article,aside,figcaption,figure,
footer,header,nav,section {
  display: block;
}

div {
  display: block;
}

li,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,q:before {
  content: '';
  content: none;
}
canvas,img,picture,video {
  max-width: 100%;
}
iframe,img,video {
  vertical-align: top;
}
img,video {
  max-width: 100%;
  height: auto;
}
a,button {
  outline: none;
  -webkit-appearance: none;
}
/* 이건 모바일 환경에서 적용되게 만들어야함 */
a {
  text-decoration: none;
}

a,input,optgroup,select,textarea {
  color: inherit;
}

button {
  background-color: transparent;
}
input,textarea {
  background: none;
}
body,button,input,select,textarea {
  font-family: inherit;
}
input::-webkit-input-placeholder {
  color: inherit;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='text']::-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,table th {
  font-weight: 400;
}
body {
  overflow-x: hidden;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
}

#wz-header .web-header-large {
  display: none;
}
@media screen and (min-width: 1097px) {
  #wz-header {
    position: static;
  }
  #wz-header .web-header-mobile {
    display: none;
  }
  #wz-header .web-header-large {
    display: block;
  }
}

#wz-header {
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

@media screen and (min-width: 1097px) {
  .web-header {
    position: static;
  }
}

.web-header {
  position: relative;
  position: -webkit-sticky;
  top: 0;
  transition: top 0.25s;
  z-index: 99;
  width: 100%;
}

#main-app .web-header {
  z-index: 1201;
}
html.scroll-top .web-header,
html.wadiz-app.scroll-top .web-header,
html.wadiz-app .web-header {
  top: 0;
}
.web-header .title-bar {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  line-height: 48px;
}
.web-header .title-bar .back-btn {
  position: absolute;
  top: 0;
  left: 16px;
  width: 24px;
  font-size: 24px;
}
.web-header .title-bar .home-btn {
  position: absolute;
  top: 0;
  right: 16px;
  width: 24px;
  font-size: 24px;
}
.web-header .title-bar .content {
  line-height: 24px;
  font-size: 17px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
  width: calc(100% - 120px);
  text-align: center;
  line-height: 48px;
  color: #212529;
  font-weight: 500;
}
.web-header .web-header-mobile {
  display: block;
  position: relative;
}
.web-header .header-wrapper {
  position: relative;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  width: 100%;
  height: 56px;
  text-align: center;
}
@media screen and (min-width: 1097px) {
  .web-header .header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
  }
}

.web-header .header-wrapper .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  height: 100%;
}

@media screen and (min-width: 1097px) {
  .web-header .header-wrapper .header-container {
    padding: 0 80px;
  }
}

.web-header .wadiz-logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 16px;
  margin: 0;
  line-height: 22px;
  font-size: 32px;
}
@media screen and (min-width: 1097px) {
  .web-header .wadiz-logo {
    position: static;
  }
}
.web-header .wadiz-logo > a {
  display: block;
  padding: 11px 0 13px;
}
.web-header .wadiz-logo > a svg {
  max-width: none;
}
@media screen and (min-width: 1097px) {
  .web-header .wadiz-logo > a {
    padding: 14px 0 18px;
  }
}
.web-header .wadiz-logo .icon {
  color: #00b2b2;
}
.web-header .wadiz-logo .label {
  display: block;
  position: absolute;
  left: -9999px;
  visibility: none;
  height: 1px;
}
.web-header .gnb-large {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  z-index: 1;
  margin-left: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  padding: 0;
  width: 100%;
  list-style: none;
  vertical-align: top;
}
.web-header .gnb-large li {
  width: 100%;
}
@media screen and (min-width: 1097px) {
  .web-header .gnb-large {
    display: inline-block;
    position: relative;
    position: -webkit-sticky;
    position: static;
    margin-left: 24px;
    box-shadow: none;
    width: auto;
  }
  .web-header .gnb-large li {
    float: left;
    width: auto;
  }
  .web-header .gnb-large li i {
    display: none;
  }
}
.web-header .gnb-large .item {
  display: block;
  padding-top: 7px;
  padding-bottom: 2px;
  text-align: center;
  text-decoration: none;
  color: #495057;
}
.web-header .gnb-large .item.active span {
  color: #00b2b2;
}
.web-header .gnb-large .item i {
  display: block;
  margin-bottom: 2px;
  line-height: 1;
  font-size: 24px;
}
.web-header .gnb-large .item span {
  display: block;
  line-height: 16px;
  font-size: 10px;
}
@media screen and (min-width: 1097px) {
  .web-header .gnb-large .item {
    padding: 0 16px;
  }
  .web-header .gnb-large .item span {
    padding-top: 1px;
    line-height: 55px;
    color: #000;
    font-size: 19px;
    font-weight: 700;
  }
}
.web-header .web-header-simple {
  display: block;
  position: relative;
  text-align: cdenter;
}
.web-header .web-header-simple .wadiz-logo {
  display: inline-block;
  position: static;
}
.web-header .web-header-simple .header-container .gnb-large {
  display: none;
  position: absolute;
  right: 80px;
  left: auto;
  color: #495057;
}
@media screen and (min-width: 1097px) {
  .web-header .web-header-simple .header-container .gnb-large {
    display: block;
  }
}
.web-header .web-header-simple .header-container .gnb-large .item {
  margin-left: 16px;
  padding: 0;
}
.web-header .web-header-simple .header-container .gnb-large .item span {
  font-size: 15px;
  font-weight: 400;
}
.web-header .web-header-simple-logo-center .header-container {
  text-align: center;
}
.web-header .web-header-utils {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: top;
}
@media screen and (min-width: 1097px) {
  .web-header .web-header-utils {
    display: flex;
    position: relative;
    margin-left: auto;
  }
}
.web-header .web-header-utils .funding-open {
  margin-left: 12px;
}
.web-header .web-header-funding-open {
  display: inline-block;
  vertical-align: top;
}
.web-header .web-header-funding-open .funding-open-button {
  margin-top: 8px;
  border-radius: 4px;
  vertical-align: top;
}

.nav_list {
  display: inline-block;
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  justify-content: space-between;
  z-index: 1;
  margin-left: 24px;
  padding: 0;
  width: auto;
  list-style: none;
  vertical-align: top;
}

.nav_tap {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
}
.nav_tapButton {
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  padding: 14px 16px;
  text-align: center;
  color: #212529;
}

.feed-c {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: #e9ecef;
  cursor: pointer;
  padding: 9px 16px;
  width: auto;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.feed-c:hover {
  background-color: #e3e7ec;
}
.feed-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 82px;
}
.feed-e {
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: #fff;
  padding: 6px;
  color: #868e96;
  font-size: 24px;
}
.feedText {
  display: inline-block;
  max-width: 100px;
  color: #212529;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1097px) {
  .feed-c {
    width: 200px;
  }
  .feed-d {
    flex-direction: row;
    justify-content: flex-start;
  }
  .feed-e {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.feed {
  position: absolute;
  right: 0;
  left: 0;
  transition-property: max-height;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  z-index: 9000;
  background: #fff;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  /* display: inline; */
}

.feed2 {
  visibility: hidden;
  max-height: 500px;
}

.feed:hover {
  overflow: visible;
  visibility: visible;
}

.feed-a {
  display: flex;
  margin: 0 auto;
  padding: 48px 0 64px 140px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
.feed-a [data-desktop-visible='false'] {
  display: none;
}
.feed-b {
  padding-right: 24px;
}

.Categories {
  padding-top: 32px;
}
.Categories .Categories3 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
  line-height: 18px;
  color: #868e96;
}
.Categories2 {
  border-left: 1px solid #e9ecef;
  padding: 0;
  width: 100%;
  max-width: 200px;
}
.Categories2 a {
  margin: 10px 8px 0 16px;
  border-bottom: 0;
  padding: 0;
  min-height: auto;
  line-height: 22px;
  font-size: 15px;
}
.Categories2 a i {
  display: none;
}

/* 주의 깊게 보자 */
.Backdrop_backDrop__2cxxQ {
  position: fixed;
  top: 115px;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  pointer-events: none;
}
.Backdrop_backDrop__2cxxQ.Backdrop_active__3qNj6 {
  opacity: 1;
  pointer-events: all;
}
.Backdrop_backDrop__2cxxQ.Backdrop_dimmed__L5zbD {
  background-color: rgba(0, 0, 0, 0.25);
}

.anchors {
  display: block;
  position: relative;
  border-bottom: 1px solid #f2f4f6;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  min-height: 56px;
  text-align: left;
  color: #212529 !important;
  font-size: 17px;
}
.anchors svg {
  position: absolute;
  right: 16px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.searchBox-aa {
  position: relative;
  width: 16px;
}
.searchBox-a {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: relative;
  transition-property: border-color, background-color, color;
  transition-duration: 0.15s;
  outline: none;
  border: 1px solid #dde2e6;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 10px 0 0;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  color: #212529;
  box-sizing: border-box;
  -webkit-appearance: none;
}
@media (hover: hover) {
  .searchBox-a:hover {
    border-color: #868e96;
  }
}
@media screen and (hover: hover) and (min-width: 1097px) {
  .searchBox-a:hover {
    border-color: #00c4c4;
  }
}
.searchBox-a:focus {
  border-color: #00c4c4;
}
.searchBox-a[disabled],.searchBox-a[readonly] {
  border-color: #f2f4f6;
  background-color: #f9fafb;
  cursor: default;
  pointer-events: none;
}
.searchBox-a[disabled] {
  color: #adb5bd;
}
.searchBox-a::-webkit-input-placeholder {
  color: #adb5bd;
}
.searchBox-a[type='number']::-webkit-inner-spin-button,
.searchBox-a[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
@media screen and (min-width: 1097px) {
  .searchBox-a {
    border: 1px solid #00c4c4;
  }
}
.searchInput {
  display: flex;
  position: relative;
  flex: 1 1 0%;
  margin-right: 40px;
}
.searchInput input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  flex-grow: 1;
  outline: none;
  background: none;
  padding-right: 32px;
  width: 100%;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-size: 14px;
}
.searchInput input:focus,
.searchInput input:focus-visible {
  outline: none;
}
.searchInput input::placeholder {
  color: #adb5bd;
}
.searchInput input::-webkit-search-cancel-button {
  position: absolute;
  top: 8px;
  right: 0;
  opacity: 1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNMzc1IDB2NzY4SDBWMGgzNzV6Ii8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImIiPjxwYXRoIGQ9Ik04LjUgMGE4LjUgOC41IDAgMTEwIDE3IDguNSA4LjUgMCAwMTAtMTd6bTMuMTQ1IDQuNjQ1TDguNSA3Ljc5NWwtMy4xNDUtMy4xNS0uNzEuNzFMNy43OTUgOC41bC0zLjE1IDMuMTQ1LjcxLjcxTDguNSA5LjIwNWwzLjE0NSAzLjE1LjcxLS43MUw5LjIwNSA4LjVsMy4xNS0zLjE0NS0uNzEtLjcxeiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNhKSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI4MyAtMTIpIj48ZyBjbGlwLXBhdGg9InVybCgjYikiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4NC41IDEzLjUpIj48cGF0aCBmaWxsPSIjQ0REM0Q4IiBkPSJNMCAwaDE3djE3SDBWMHoiLz48L2c+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 20px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.searchInput input::-webkit-input-placeholder {
  font-size: 14px;
}
.searchButton {
  position: absolute;
  top: 52%;
  right: 16px;
  left: auto;
  transform: translateY(-52%);
  z-index: 1;
  pointer-events: visible;
}
.searchButton:focus {
  outline: none;
}
.searchButton svg {
  display: block;
}
.searchBox {
  display: inline-block;
  position: relative;
  padding: 8px 16px 8px 0;
  min-width: 185px;
  height: 56px;
}
@media screen and (min-width: 1360px) {
  .searchBox {
    min-width: 360px;
  }
}
.DesktopSearchApp {
  position: absolute;
  top: 56px;
  left: 0;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(10, 22, 70, 0.06), 0 16px 16px -1px rgba(10, 22, 70, 0.1);
  background-color: #fff;
  height: fit-content;
  overflow: hidden;
}
.DesktopSearchApp {
  width: 255px;
}
.SearchApp_footer {
  position: relative;
  padding: 13px 16px 11px;
  text-align: right;
}
.SearchApp_footer button {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 8px;
  color: #adb5bd;
  font-weight: 500;
}
.SearchApp_footer button:hover {
  background-color: #f2f4f6;
  color: #343a40;
}
.User_container {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
}
.User_container .User_btnSign {
  display: inline-block;
  cursor: pointer;
  padding: 0 8px;
  text-align: center;
  line-height: 56px;
  color: #495057;
  font-size: 15px;
}

.tagAnchor {
  position: relative;
  border-top: 1px solid #f2f4f6;
  border-left: 1px solid #f2f4f6;
  padding: 23px 24px 24px 23px;
  width: 100%;
}
.tagAnchor2 {
  position: relative;
  margin-bottom: 8px;
}
.tagAnchor2 h4 {
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  color: #adb5bd;
}
.tagAnchor-a {
  padding: 8px 0;
}
.tagAnchor-b {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: #495057;
}
.DesktopSearchApp-a {
  padding: 0;
  display: block;
}

.Recently {
  position: relative;
  overflow: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Recently::-webkit-scrollbar {
  display: none;
}
.Recently2 {
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 40px 0 33px;
  text-align: center;
  font-weight: 500;
}
@media screen and (min-width: 1360px) {
  .Recently2 {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 12px;
  }
}

.DesktopCategory-a {
  position: relative;
  border-top: 1px solid #f2f4f6;
  padding: 23px 23px 24px;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1097px) {
  .DesktopCategory-a {
    max-width: 255px;
  }
}
.DesktopCategory-b {
  position: relative;
  margin-bottom: 8px;
}
.DesktopCategory-b h4 {
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  color: #adb5bd;
}
.DesktopCategory {
  border-bottom: 1px solid #f2f4f6;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1360px) {
  .DesktopCategory {
    flex-direction: row;
  }
}

.Button_button {
  position: relative;
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.15s;
  border: 1px solid #cdd3d8;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 15px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.43;
  white-space: nowrap;
  color: #495057;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box !important;
  -webkit-appearance: none;
}
.Button_button span {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}
.Button_button span svg {
  display: inline-block;
}
a.Button_button {
  display: inline-block;
  align-items: center;
  padding-top: 0.07em;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .Button_button:hover {
    border-color: #adb5bd;
    background-color: #f2f4f6;
    color: #343a40;
  }
}
.Button_button:active {
  text-decoration: none;
  border-color: #adb5bd;
  background-color: #f2f4f6;
  color: #343a40;
}
.Button_button:disabled,
.Button_button[disabled] {
  opacity: 0.45;
  cursor: default;
  pointer-events: none;
}
.Button_button.Button_contained {
  border-color: #495057;
  background-color: #495057;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .Button_button.Button_contained:hover {
    border-color: #343a40;
    background-color: #343a40;
    color: #fff;
  }
}
.Button_button.Button_contained:active {
  text-decoration: none;
  border-color: #343a40;
  background-color: #343a40;
  color: #fff;
}
.Button_button.Button_primary {
  border-color: #00c4c4;
  color: #00c4c4;
}
@media (hover: hover) and (pointer: fine) {
  .Button_button.Button_primary:hover {
    border-color: #00c4c4;
    background-color: #e7f9f9;
    color: #00b2b2;
  }
}
.Button_button.Button_primary:active {
  text-decoration: none;
  border-color: #00c4c4;
  background-color: #e7f9f9;
  color: #00b2b2;
}
.Button_button.Button_primary.Button_contained {
  border-color: #00c4c4;
  background-color: #00c4c4;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .Button_button.Button_primary.Button_contained:hover {
    border-color: #00b2b2;
    background-color: #00b2b2;
    color: #fff;
  }
}
.Button_button.Button_primary.Button_contained:active {
  text-decoration: none;
  border-color: #00b2b2;
  background-color: #00b2b2;
  color: #fff;
}
.Button_button .Button_children {
  vertical-align: top;
}
.Button_button.Button_md {
  padding: 9px 15px;
  line-height: 1.45;
  font-size: 14px;
}
