<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
	<select id="followerCount" resultType="_int">
		select count(id) as "팔로워 수" from tbl_follower
		where member_id = #{member_id};
	</select>
	<select id="followingCount" resultType="_int">
		select count(id) as "팔로잉 수" from tbl_following
		where member_id = #{member_id};
	</select>
</mapper>