@charset "UTF-8";

#root,body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}


#root{
  background-color: white;
}

a,abbr,acronym,address,applet,article,
aside,audio,b,big,blockquote,body,
button,canvas,caption,center,cite,code,
dd,del,details,dfn,div,dl,dt,em,embed,
fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,
i,iframe,img,input,ins,kbd,label,legend,
li,mark,menu,nav,object,ol,output,p,pre,
q,ruby,s,samp,section,select,small,span,
strike,strong,sub,summary,sup,table,tbody,
td,textarea,tfoot,th,thead,time,tr,tt,u,
ul,var,video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

*,:after,:before {
  box-sizing: border-box;
}

div {
  display: block;
}
html * {
  box-sizing: border-box;
}

button {
  color: inherit;
  background-color: transparent;
}
a,
button {
  outline: none;
  -webkit-appearance: none;
}
article,aside,figcaption,figure,footer,
header,nav,section {
  display: block;
}
.ALcontainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 769px) {
  .ALcontainer {
    position: static;
    overflow-y: auto;
  }
}

.ALcontainer .ALmain {
  /* padding-top: 56px; */
}
@media screen and (min-width: 769px) {
  .ALcontainer .ALmain {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
@media screen and (min-width: 769px) {
  .ALcontainer .ALmain .ALcontents {
    position: relative;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.CLcontainer {
  position: relative;
  padding: 32px 16px 120px;
}

@media screen and (min-width: 769px) {
  .CLcontainer {
    padding: 40px 66px;
  }
}
.DNcontainer {
  box-shadow: 0 1px 0 0 rgba(10, 22, 70, 0.06);
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
  background-color: #fff;
  padding: 0 24px;
  min-height: 56px;
}
.ANB_container {
  box-shadow: 0 1px 0 0 rgba(10, 22, 70, 0.06);
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -ms-flbex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
  background-color: #fff;
  padding: 0 24px;
  min-height: 56px;
}
.ANB_container .ANB_maker {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  grid-gap: 8px;
  gap: 8px;
}
.A_avatar.A_xs {
  width: 36px;
  height: 36px;
}
.A_avatar {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  outline: none;
  border: none;
  border-radius: 100%;
  padding: 0;
  width: 64px;
  height: 64px;
  vertical-align: middle;
}
.A_avatar > span {
  display: block;
  position: absolute;
  opacity: 1;
  border-radius: 100%;
  background: no-repeat 50% / cover;
  width: 100%;
  height: 100%;
}
body,button,input,select,textarea {
  font-family: inherit;
}
.ANB_container .ANB_buttonGroup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  grid-gap: 4px;
  gap: 4px;

  margin-left: auto;
}
@media screen and (min-width: 900px) {
  .ANB_container .ANB_buttonGroup {
    -ms-flex: initial;
    flex: initial;
    grid-gap: 8px;
    gap: 8px;
    margin-left: auto;
  }
}

.PreviewButton_container {
  display: inline;
  position: relative;
}

.Button_button.Button_md {
  padding: 9px 15px;
  line-height: 1.45;
  font-size: 14px;
}
.Button_button.Button_primary {
  border-color: #00c4c4;
  color: #00c4c4;
}
.Button_button.Button_circular {
  border-radius: 999em;
}
.Button_button {
  position: relative;
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.15s;
  border: 1px solid #cdd3d8;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 15px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.43;
  white-space: nowrap;
  color: #495057;
  font-size: 14px;
  font-weight: 500;
  -webkit-appearance: none;
}
.Button_button span {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
}
.Button_button .Button_children {
  vertical-align: top;
}

.Button_button.Button_primary.Button_contained {
  border-color: #00c4c4;
  background-color: #00c4c4;
  color: #fff;
}
.AB_container {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  transition: background-color 0.3s;
  border-radius: 8px;
  cursor: pointer;
}
.AB_icon {
  padding: 16px;
  width: 56px;
  height: 56px;
}
.AB_badge {
  position: absolute;
  top: 12px;
  right: 12px;
}
.Badge_container {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  vertical-align: middle;
}
.AMP_list {
  position: absolute;
  top: 48px;
  right: 8px;
  transition: opacity 0.6s, height 0.3s, max-height 0.3s ease-out;
  opacity: 0;
  border-radius: 16px;
  box-shadow: 0 32px 40px -2px rgba(10, 22, 70, 0.12), 0 0 5px 0 rgba(10, 22, 70, 0.06);
  padding: 12px 0;
  width: 400px;
  max-width: 80vw;
  height: 0;
  max-height: 0;
}
.AML_container {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
}

.AMP_drawer {
  border-radius: 16px;
}

.ADD_container {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: -40%;
  bottom: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: right 0.3s ease-out, opacity 0.2s;
  opacity: 0;
  background-color: #fff;
  width: 100%;
  pointer-events: none;
}
.ADD_buttonGroup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 16px 12px;
  color: #495057;
}
@media screen and (min-width: 769px) {
  .ADD_buttonGroup {
    padding: 24px 24px 4px;
  }
}

.ADD_buttonGroup .ADD_backButton {
  margin-left: -4px;
}
.ADD_buttonGroup button {
  cursor: pointer;
}
.ADD_buttonGroup .ADD_backButton .ADD_icon {
  pointer-events: none;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1250px) {
  .HYcontainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1250px) {
  .HYcontainer .HYcontents {
    -ms-flex: 1 1;
    flex: 1 1;
    max-width: 850px;
  }
}
@media screen and (min-width: 1097px) {
  .HYcontainer .HYcontents {
    -ms-flex: 1 1;
    flex: 1 1;
  }
}

.FSContainer_container .FSContainer_title {
  /* display: none; */
  margin: 4% 0 16px;
  line-height: 1.22;
  color: #000;
  font-size: 36px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  .FSContainer_container .FSContainer_title {
    display: block;
    max-width: 850px;
  }
}
.FSContainer_container .FSContainer_description {
  /* display: none; */
  margin-bottom: 32px;
  line-height: 1.41;
  color: #000;
  font-size: 17px;
}
@media screen and (min-width: 769px) {
  .FSContainer_container .FSContainer_description {
    display: block;
    max-width: 850px;
  }
}
.Form_form.wz.form .Form_loader {
  display: none;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  opacity: 0.8;
  z-index: 100;
}

/* relative만 있는 css 집합 */
.fr-box,
.AMP_container,
.HYcontainer,
.Form_form.wz.form,
.FSFormContainer_form,
.Section_container,
.Section_container .Section_content,
.Editor_container {
  position: relative;
}
.Section_container .Section_header {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
}
.Section_container .Section_header .Section_title {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
}

.withIcon_icon {
  display: block;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.Section_container .Section_header .Section_title.Section_isRequired:after {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 4px;
  color: #f66;
  content: '*';
}

.SVIF_container {
  max-width: 343px;
}
.Radio_radio.wz.radio {
  display: block;
  cursor: pointer;
  padding: 12px 0;
}
.Radio_radio.wz.radio > input[type='radio'] {
  display: none;
}
label.wz.radio > input {
  position: absolute;
  opacity: 0;
}
.Radio_radio.wz.radio > div {
  position: relative;
  padding-left: 36px;
  color: #495057;
}
.Radio_radio.wz.radio > div:before,
.Radio_radio.wz.radio > input[type='radio']:checked + div:before {
  position: absolute;
  top: 12px;
  left: 0;
  margin-top: -12.5px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  content: '';
  box-sizing: border-box;
}
.Radio_radio.wz.radio > div:before {
  display: inline-block;
  transition-property: background-color, border-color, opacity, color;
  transition-duration: 0.2s;
  opacity: 0.4;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  padding: 3px;
  vertical-align: middle;
  text-transform: none;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  font-family: wadizicon !important;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
}
.Form_form.wz.form .Form_field.field {
  margin-top: 0;
  margin-bottom: 40px;
}
.FSFormContainer_form.wz.form .field {
  margin-bottom: 40px;
}
.wz.form .field {
  margin: 24px 0;
}
@media screen and (min-width: 1201px) {
  .FSFormContainer_form .field {
    max-width: 850px;
  }
}
.wz.input {
  display: block;
  position: relative;
  font-size: 17px;
}

.FSFormContainer_form.wz.form .wz.input textarea {
  margin-top: 8px;
}
.wz.input > textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 400;
  resize: vertical;
}
.wz.input > input,
.wz.input > textarea {
  transition-property: border-color, height, padding-right, color;
  transition-duration: 0.2s, 0s;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 0 0.94118em;
  width: 100%;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.84);
  font-family: roboto, 'Noto Sans KR', -apple-system, dotum, sans-serif;
  font-size: 17px;
}
.wz.input.icon > i.icon,
.wz.input > input,
.wz.input > textarea {
  color: rgba(0, 0, 0, 0.84);
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

/* display: inline-block; 집합 */
.wz.input.inline-block,
.wz.input:after {
  display: inline-block;
}
.wz.input:after {
  vertical-align: middle;
  text-transform: none;
  line-height: 1;
  font-family: 'wadizicon' !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  speak: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-property: transform, opacity, -webkit-transform;
  transition-duration: 0.2s;
  opacity: 0;
  margin-top: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
  pointer-events: none;
  color: #00c4c4;
  font-size: 1.41176em;
}

.SEWI_container .SEWI_editor {
  max-width: 100%;
}
@media screen and (min-width: 1097px) {
  .Editor_container {
    margin-bottom: 80px;
  }
}
.wysiwyg-editor {
  word-break: keep-all;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
}
.fr-box.fr-basic {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.fr-wrapper {
  border-top: 0;
  background: #fff;
  border: 1px solid;
  border-color: #ccc #ccc #efefef;
  top: 0;
  left: 0;
  border-right-color: #dde2e6;
  border-left-color: #dde2e6;
  position: relative;
  z-index: 1;
  height: 250px;
  overflow: auto;
}

.wysiwyg-editor .fr-box .fr-element {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}
.wysiwyg-editor .fr-box .fr-counter,
.wysiwyg-editor .fr-box .fr-element,
.wysiwyg-editor .fr-box .fr-toolbar {
  font-family: pretendard, 'Apple SD Gothic Neo', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', -apple-system, blinkmacsystemfont, sans-serif;
}
.fr-box.fr-basic .fr-element {
  font-family: sans-serif;
  color: #414141;
  font-size: 14px;
  line-height: 1.6;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  min-height: 60px;
  text-align: left;
}
.fr-view.fr-element-scroll-visible {
  overflow-x: visible !important;
}
.fr-view {
  word-wrap: break-word;
}
.fr-element {
  background: transparent;
  position: relative;
  z-index: 2;
  -webkit-user-select: auto;
}
.fr-element,
.fr-element:focus {
  outline: 0 solid transparent;
}
.wysiwyg-editor .fr-second-toolbar {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-color: #dde2e6;
  border-bottom-color: #dde2e6;
  border-left-color: #dde2e6;
}
.fr-second-toolbar {
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  line-height: 1.4;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-box .fr-counter {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}
.wysiwyg-editor .fr-box .fr-counter,
.wysiwyg-editor .fr-box .fr-element,
.wysiwyg-editor .fr-box .fr-toolbar {
  font-family: pretendard, 'Apple SD Gothic Neo', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', -apple-system, blinkmacsystemfont, sans-serif;
}
.fr-box .fr-counter,
.fr-box.fr-rtl .fr-counter {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-box .fr-counter {
  padding: 10px;
  float: right;
  color: #999;
  content: attr(data-chars);
  font-size: 14px;
  font-family: sans-serif;
  z-index: 1;
  border-radius: 2px 0 0 0;
  -moz-border-radius: 2px 0 0 0;
  -webkit-border-radius: 2px 0 0 0;
}

.FSContainer_container .FSContainer_btnWrapper {
  margin-top: 40px;
}
@media screen and (min-width: 769px) {
  .FSContainer_container .FSContainer_btnWrapper {
    margin-top: 80px;
  }
}
.FSContainer_container .FSContainer_btnWrapper button {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .FSContainer_container .FSContainer_btnWrapper button {
    width: 320px;
  }
}

.Button_button.Button_lg {
  padding: 9px 23px;
  line-height: 1.75;
  font-size: 16px;
}

.wz.button.gray {
  background-color: #90949c;
  color: #fff;
}
.wz.button.gray,.wz.button.gray-outline {
  border-color: #90949c;
}
.wz.button {
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 1.41176em;
  height: 48px;
  vertical-align: middle;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box !important;
  -webkit-appearance: none;
  display: inline-block;
  padding-top: 0.07em;
  text-decoration: none;
}

.IFBinput {
  visibility: hidden;
}

.SMAN_disable {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .for_hidden {
    visibility: hidden;
  }
}
.Section_container.Section_header .Section_title {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
}
